<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

  <body>

    <h2>Owners</h2>

    <table id="owners" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Id</th>
            <th style="width: 200px;">First Name</th>
            <th style="width: 120px">Last Name</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="owner : ${owners}">
              <td th:text="${owner.id}"/>
              <td th:text="${owner.firstName}"/>
              <td th:text="${owner.lastName}"/>
          </tr>
        </tbody>
    </table>

  </body>
</html>
